.DS_Store
*.plist

*.mp3

Assets/Images/s0q0.png

Assets/Images/s0q1.png

Assets/Images/s0q2.png

Assets/Images/s0q3.png

Assets/Images/s0q4.png

Assets/Images/s0q5.png

Assets/Images/s0q6.png

Assets/Images/s0q7.png

Assets/Images/s0q8.png

Assets/Images/s0q9.png

*.xcuserstate

*.xcuserstate
