<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>QuestionsAndAnswers</key>
	<array>
		<array>
			<dict>
				<key>img</key>
				<string>s0q0.png</string>
				<key>sound</key>
				<string>s0q0.mp3</string>
				<key>question</key>
				<string>Look at the picture marked number 1 in your test book.</string>
				<key>A</key>
				<string>The officer is at the controls.</string>
				<key>B</key>
				<string>Guests are tasting the appetizers.</string>
				<key>C</key>
				<string>The men are working at the buffet.</string>
				<key>D</key>
				<string>They are in charge of the bus.</string>
				<key>answer</key>
				<string>A</string>
			</dict>
			<dict>
				<key>img</key>
				<string>s0q1.png</string>
				<key>sound</key>
				<string>s0q1.mp3</string>
				<key>question</key>
				<string>Look at the picture marked number 2 in your test book.</string>
				<key>A</key>
				<string>The sheep are in the meadow.</string>
				<key>B</key>
				<string>Water gathered around the bucket.</string>
				<key>C</key>
				<string>Most of the votes are headed in.</string>
				<key>D</key>
				<string>The ship is leaving the harbor.</string>
				<key>answer</key>
				<string>D</string>
			</dict>
			<dict>
				<key>img</key>
				<string>s0q2.png</string>
				<key>sound</key>
				<string>s0q2.mp3</string>
				<key>question</key>
				<string>Look at the picture marked number 3 in your test book.</string>
				<key>A</key>
				<string>They wrote the check in the bank.</string>
				<key>B</key>
				<string>The trees are by the flowers.</string>
				<key>C</key>
				<string>The hall is very large.</string>
				<key>D</key>
				<string>The passengers are on the plane.</string>
				<key>answer</key>
				<string>C</string>
			</dict>
			<dict>
				<key>img</key>
				<string>s0q3.png</string>
				<key>sound</key>
				<string>s0q3.mp3</string>
				<key>question</key>
				<string>Look at the picture marked number 4 in your test book.</string>
				<key>A</key>
				<string>The studio is cluttered.</string>
				<key>B</key>
				<string>The announcer is leading a panel.</string>
				<key>C</key>
				<string>The man is holding a headset.</string>
				<key>D</key>
				<string>The flipchart contains the data.</string>
				<key>answer</key>
				<string>A</string>
			</dict>
			<dict>
				<key>img</key>
				<string>s0q4.png</string>
				<key>sound</key>
				<string>s0q4.mp3</string>
				<key>question</key>
				<string>Look at the picture marked number 5 in your test book.</string>
				<key>A</key>
				<string>The operator pushes a button.</string>
				<key>B</key>
				<string>The man is fixing the elevator.</string>
				<key>C</key>
				<string>He&apos;s putting a button on his shirt.</string>
				<key>D</key>
				<string>Stocks are going up.</string>
				<key>answer</key>
				<string>A</string>
			</dict>
			<dict>
				<key>img</key>
				<string>s0q4.png</string>
				<key>sound</key>
				<string>s0q4.mp3</string>
				<key>question</key>
				<string>Look at the picture marked number 6 in your test book.</string>
				<key>A</key>
				<string>The crane is on the truck.</string>
				<key>B</key>
				<string>Building materials are being unloaded.</string>
				<key>C</key>
				<string>The plans are on the table.</string>
				<key>D</key>
				<string>The engineers are on the site.</string>
				<key>answer</key>
				<string>D</string>
			</dict>
			<dict>
				<key>img</key>
				<string>s0q6.png</string>
				<key>sound</key>
				<string>s0q6.mp3</string>
				<key>question</key>
				<string>Look at the picture marked number 7 in your test book.</string>
				<key>A</key>
				<string>The wires carry electricity.</string>
				<key>B</key>
				<string>The laundry hangs from poles.</string>
				<key>C</key>
				<string>The light fixtures are tall.</string>
				<key>D</key>
				<string>The polls are open for the election.</string>
				<key>answer</key>
				<string>A</string>
			</dict>
			<dict>
				<key>img</key>
				<string>s0q7.png</string>
				<key>sound</key>
				<string>s0q7.mp3</string>
				<key>question</key>
				<string>Look at the picture marked number 8 in your test book.</string>
				<key>A</key>
				<string>The jewels are in the safe.</string>
				<key>B</key>
				<string>The woman works with her hands.</string>
				<key>C</key>
				<string>The optician is grinding lenses.</string>
				<key>D</key>
				<string>The woman saws metal.</string>
				<key>answer</key>
				<string>B</string>
			</dict>
			<dict>
				<key>img</key>
				<string>s0q8.png</string>
				<key>sound</key>
				<string>s0q8.mp3</string>
				<key>question</key>
				<string>Look at the picture marked number 9 in your test book.</string>
				<key>A</key>
				<string>The nurses are administering medication.</string>
				<key>B</key>
				<string>The are two purses at the reception desk.</string>
				<key>C</key>
				<string>The pharmacists are conferring.</string>
				<key>D</key>
				<string>The nurses are in front of the window.</string>
				<key>answer</key>
				<string>D</string>
			</dict>
			<dict>
				<key>img</key>
				<string>s0q9.png</string>
				<key>sound</key>
				<string>s0q9.mp3</string>
				<key>question</key>
				<string>Look at the picture marked number 10 in your test book.</string>
				<key>A</key>
				<string>The attendant offers a newspaper.</string>
				<key>B</key>
				<string>The passenger is sleeping.</string>
				<key>C</key>
				<string>The tourists are taking photos.</string>
				<key>D</key>
				<string>The newsstand is crowded.</string>
				<key>answer</key>
				<string>A</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>img</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>A</key>
				<string></string>
				<key>B</key>
				<string></string>
				<key>C</key>
				<string></string>
				<key>D</key>
				<string></string>
				<key>answer</key>
				<string></string>
			</dict>
			<dict>
				<key>img</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>A</key>
				<string></string>
				<key>B</key>
				<string></string>
				<key>C</key>
				<string></string>
				<key>D</key>
				<string></string>
				<key>answer</key>
				<string></string>
			</dict>
			<dict>
				<key>img</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>A</key>
				<string></string>
				<key>B</key>
				<string></string>
				<key>C</key>
				<string></string>
				<key>D</key>
				<string></string>
				<key>answer</key>
				<string></string>
			</dict>
			<dict>
				<key>img</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>A</key>
				<string></string>
				<key>B</key>
				<string></string>
				<key>C</key>
				<string></string>
				<key>D</key>
				<string></string>
				<key>answer</key>
				<string></string>
			</dict>
			<dict>
				<key>img</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>A</key>
				<string></string>
				<key>B</key>
				<string></string>
				<key>C</key>
				<string></string>
				<key>D</key>
				<string></string>
				<key>answer</key>
				<string></string>
			</dict>
			<dict>
				<key>img</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>A</key>
				<string></string>
				<key>B</key>
				<string></string>
				<key>C</key>
				<string></string>
				<key>D</key>
				<string></string>
				<key>answer</key>
				<string></string>
			</dict>
			<dict>
				<key>img</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>A</key>
				<string></string>
				<key>B</key>
				<string></string>
				<key>C</key>
				<string></string>
				<key>D</key>
				<string></string>
				<key>answer</key>
				<string></string>
			</dict>
			<dict>
				<key>img</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>A</key>
				<string></string>
				<key>B</key>
				<string></string>
				<key>C</key>
				<string></string>
				<key>D</key>
				<string></string>
				<key>answer</key>
				<string></string>
			</dict>
			<dict>
				<key>img</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>A</key>
				<string></string>
				<key>B</key>
				<string></string>
				<key>C</key>
				<string></string>
				<key>D</key>
				<string></string>
				<key>answer</key>
				<string></string>
			</dict>
			<dict>
				<key>img</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>A</key>
				<string></string>
				<key>B</key>
				<string></string>
				<key>C</key>
				<string></string>
				<key>D</key>
				<string></string>
				<key>answer</key>
				<string></string>
			</dict>
			<dict>
				<key>img</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>A</key>
				<string></string>
				<key>B</key>
				<string></string>
				<key>C</key>
				<string></string>
				<key>D</key>
				<string></string>
				<key>answer</key>
				<string></string>
			</dict>
			<dict>
				<key>img</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>A</key>
				<string></string>
				<key>B</key>
				<string></string>
				<key>C</key>
				<string></string>
				<key>D</key>
				<string></string>
				<key>answer</key>
				<string></string>
			</dict>
			<dict>
				<key>img</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>A</key>
				<string></string>
				<key>B</key>
				<string></string>
				<key>C</key>
				<string></string>
				<key>D</key>
				<string></string>
				<key>answer</key>
				<string></string>
			</dict>
			<dict>
				<key>img</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>A</key>
				<string></string>
				<key>B</key>
				<string></string>
				<key>C</key>
				<string></string>
				<key>D</key>
				<string></string>
				<key>answer</key>
				<string></string>
			</dict>
			<dict>
				<key>img</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>A</key>
				<string></string>
				<key>B</key>
				<string></string>
				<key>C</key>
				<string></string>
				<key>D</key>
				<string></string>
				<key>answer</key>
				<string></string>
			</dict>
			<dict>
				<key>img</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>A</key>
				<string></string>
				<key>B</key>
				<string></string>
				<key>C</key>
				<string></string>
				<key>D</key>
				<string></string>
				<key>answer</key>
				<string></string>
			</dict>
		</array>
		<array>
			<dict>
				<key>img</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>A</key>
				<string></string>
				<key>B</key>
				<string></string>
				<key>C</key>
				<string></string>
				<key>D</key>
				<string></string>
				<key>answer</key>
				<string></string>
			</dict>
			<dict>
				<key>img</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>A</key>
				<string></string>
				<key>B</key>
				<string></string>
				<key>C</key>
				<string></string>
				<key>D</key>
				<string></string>
				<key>answer</key>
				<string></string>
			</dict>
			<dict>
				<key>img</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>A</key>
				<string></string>
				<key>B</key>
				<string></string>
				<key>C</key>
				<string></string>
				<key>D</key>
				<string></string>
				<key>answer</key>
				<string></string>
			</dict>
			<dict>
				<key>img</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>A</key>
				<string></string>
				<key>B</key>
				<string></string>
				<key>C</key>
				<string></string>
				<key>D</key>
				<string></string>
				<key>answer</key>
				<string></string>
			</dict>
			<dict>
				<key>img</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>A</key>
				<string></string>
				<key>B</key>
				<string></string>
				<key>C</key>
				<string></string>
				<key>D</key>
				<string></string>
				<key>answer</key>
				<string></string>
			</dict>
			<dict>
				<key>img</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>A</key>
				<string></string>
				<key>B</key>
				<string></string>
				<key>C</key>
				<string></string>
				<key>D</key>
				<string></string>
				<key>answer</key>
				<string></string>
			</dict>
			<dict>
				<key>img</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>A</key>
				<string></string>
				<key>B</key>
				<string></string>
				<key>C</key>
				<string></string>
				<key>D</key>
				<string></string>
				<key>answer</key>
				<string></string>
			</dict>
			<dict>
				<key>img</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>A</key>
				<string></string>
				<key>B</key>
				<string></string>
				<key>C</key>
				<string></string>
				<key>D</key>
				<string></string>
				<key>answer</key>
				<string></string>
			</dict>
		</array>
		<array>
			<dict>
				<key>img</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>A</key>
				<string></string>
				<key>B</key>
				<string></string>
				<key>C</key>
				<string></string>
				<key>D</key>
				<string></string>
				<key>answer</key>
				<string></string>
			</dict>
			<dict>
				<key>img</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>A</key>
				<string></string>
				<key>B</key>
				<string></string>
				<key>C</key>
				<string></string>
				<key>D</key>
				<string></string>
				<key>answer</key>
				<string></string>
			</dict>
			<dict>
				<key>img</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>A</key>
				<string></string>
				<key>B</key>
				<string></string>
				<key>C</key>
				<string></string>
				<key>D</key>
				<string></string>
				<key>answer</key>
				<string></string>
			</dict>
			<dict>
				<key>img</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>A</key>
				<string></string>
				<key>B</key>
				<string></string>
				<key>C</key>
				<string></string>
				<key>D</key>
				<string></string>
				<key>answer</key>
				<string></string>
			</dict>
			<dict>
				<key>img</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>A</key>
				<string></string>
				<key>B</key>
				<string></string>
				<key>C</key>
				<string></string>
				<key>D</key>
				<string></string>
				<key>answer</key>
				<string></string>
			</dict>
			<dict>
				<key>img</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>A</key>
				<string></string>
				<key>B</key>
				<string></string>
				<key>C</key>
				<string></string>
				<key>D</key>
				<string></string>
				<key>answer</key>
				<string></string>
			</dict>
			<dict>
				<key>img</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>A</key>
				<string></string>
				<key>B</key>
				<string></string>
				<key>C</key>
				<string></string>
				<key>D</key>
				<string></string>
				<key>answer</key>
				<string></string>
			</dict>
			<dict>
				<key>img</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>A</key>
				<string></string>
				<key>B</key>
				<string></string>
				<key>C</key>
				<string></string>
				<key>D</key>
				<string></string>
				<key>answer</key>
				<string></string>
			</dict>
			<dict>
				<key>img</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>A</key>
				<string></string>
				<key>B</key>
				<string></string>
				<key>C</key>
				<string></string>
				<key>D</key>
				<string></string>
				<key>answer</key>
				<string></string>
			</dict>
			<dict>
				<key>img</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>A</key>
				<string></string>
				<key>B</key>
				<string></string>
				<key>C</key>
				<string></string>
				<key>D</key>
				<string></string>
				<key>answer</key>
				<string></string>
			</dict>
			<dict>
				<key>img</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>A</key>
				<string></string>
				<key>B</key>
				<string></string>
				<key>C</key>
				<string></string>
				<key>D</key>
				<string></string>
				<key>answer</key>
				<string></string>
			</dict>
			<dict>
				<key>img</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>A</key>
				<string></string>
				<key>B</key>
				<string></string>
				<key>C</key>
				<string></string>
				<key>D</key>
				<string></string>
				<key>answer</key>
				<string></string>
			</dict>
			<dict>
				<key>img</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>A</key>
				<string></string>
				<key>B</key>
				<string></string>
				<key>C</key>
				<string></string>
				<key>D</key>
				<string></string>
				<key>answer</key>
				<string></string>
			</dict>
			<dict>
				<key>img</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>A</key>
				<string></string>
				<key>B</key>
				<string></string>
				<key>C</key>
				<string></string>
				<key>D</key>
				<string></string>
				<key>answer</key>
				<string></string>
			</dict>
			<dict>
				<key>img</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>A</key>
				<string></string>
				<key>B</key>
				<string></string>
				<key>C</key>
				<string></string>
				<key>D</key>
				<string></string>
				<key>answer</key>
				<string></string>
			</dict>
			<dict>
				<key>img</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>A</key>
				<string></string>
				<key>B</key>
				<string></string>
				<key>C</key>
				<string></string>
				<key>D</key>
				<string></string>
				<key>answer</key>
				<string></string>
			</dict>
		</array>
		<array>
			<dict>
				<key>img</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>A</key>
				<string></string>
				<key>B</key>
				<string></string>
				<key>C</key>
				<string></string>
				<key>D</key>
				<string></string>
				<key>answer</key>
				<string></string>
			</dict>
			<dict>
				<key>img</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>A</key>
				<string></string>
				<key>B</key>
				<string></string>
				<key>C</key>
				<string></string>
				<key>D</key>
				<string></string>
				<key>answer</key>
				<string></string>
			</dict>
			<dict>
				<key>img</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>A</key>
				<string></string>
				<key>B</key>
				<string></string>
				<key>C</key>
				<string></string>
				<key>D</key>
				<string></string>
				<key>answer</key>
				<string></string>
			</dict>
			<dict>
				<key>img</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>A</key>
				<string></string>
				<key>B</key>
				<string></string>
				<key>C</key>
				<string></string>
				<key>D</key>
				<string></string>
				<key>answer</key>
				<string></string>
			</dict>
			<dict>
				<key>img</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>A</key>
				<string></string>
				<key>B</key>
				<string></string>
				<key>C</key>
				<string></string>
				<key>D</key>
				<string></string>
				<key>answer</key>
				<string></string>
			</dict>
			<dict>
				<key>img</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>A</key>
				<string></string>
				<key>B</key>
				<string></string>
				<key>C</key>
				<string></string>
				<key>D</key>
				<string></string>
				<key>answer</key>
				<string></string>
			</dict>
			<dict>
				<key>img</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>A</key>
				<string></string>
				<key>B</key>
				<string></string>
				<key>C</key>
				<string></string>
				<key>D</key>
				<string></string>
				<key>answer</key>
				<string></string>
			</dict>
			<dict>
				<key>img</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>A</key>
				<string></string>
				<key>B</key>
				<string></string>
				<key>C</key>
				<string></string>
				<key>D</key>
				<string></string>
				<key>answer</key>
				<string></string>
			</dict>
			<dict>
				<key>img</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>A</key>
				<string></string>
				<key>B</key>
				<string></string>
				<key>C</key>
				<string></string>
				<key>D</key>
				<string></string>
				<key>answer</key>
				<string></string>
			</dict>
			<dict>
				<key>img</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>A</key>
				<string></string>
				<key>B</key>
				<string></string>
				<key>C</key>
				<string></string>
				<key>D</key>
				<string></string>
				<key>answer</key>
				<string></string>
			</dict>
			<dict>
				<key>img</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>A</key>
				<string></string>
				<key>B</key>
				<string></string>
				<key>C</key>
				<string></string>
				<key>D</key>
				<string></string>
				<key>answer</key>
				<string></string>
			</dict>
		</array>
	</array>
</dict>
</plist>
